---
const navTitle = 'Navigation';
const domainDeployed = 'https://patchamama.github.io/devTalles-Astro-El-framework-para-sitios-web-orientados-al-contenido/dist_section2/';
---
<nav>
    <span>{navTitle}</span>
    <a href="{domainDeployed}/">Home Page</a>
    <a href="{domainDeployed}/about">About Page</a>
    <a href="{domainDeployed}/contact">Contact Page</a>
</nav>
<hr />